<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>SignalR test app</h1>
  <p style="color: red">{{signalrService.loginError$ | async}}</p>
</div>

